<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <!-- Propiedades de la conexión -->

        <!-- Driver JDBC -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Conexión. Añadir ?createDatabaseIfNotExist=true para crear la BBDD  -->
        <property name="connection.url">jdbc:mysql://localhost:3306/scaperoom</property>

        <!-- Usuario y password de la BBDD -->
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>

        <!--  dialecto dentro del conector. Importante para claves ajenas-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuraciones adicionales -->

        <!-- JDBC connection pool Conexiones concurrentes -->
        <property name="connection.pool_size">5</property>

        <!-- Una sesion de trabajo por Thread-->
        <property name="current_session_context_class">thread</property>


        <!-- Informa de las operaciones "reales" SQL. Interesante en desarrollo -->
        <property name="show_sql">true</property>

        <!-- Mantenimiento de la BBDD -->

        <property name="hbm2java.auto">update</property>

        <!-- opciones de hbm2dll:
        create : Borra y crea SIEMPRE la base de datos
        update : Mantiene los datos, actulizando la estructura de la BBDD. Util en     producción.
        create-drop : Crea todo, y al finalizar el programa lo borra
        validate: comprueba que las especificaciones del mapeo son validas con el diseño relacional de la BBDD

        -->
        <mapping class="com.example.escaperoom.Entity.AlumnoEntity"/>
        <mapping class="com.example.escaperoom.Entity.ExamenEntity"/>
        <mapping class="com.example.escaperoom.Entity.ModuloEntity"/>
        <mapping class="com.example.escaperoom.Entity.ProfesorEntity"/>
    </session-factory>
</hibernate-configuration>